:host {
    font-size:14px;

    .create-issue-button {
        position:fixed;
        bottom:30px;
        right:30px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:24px;
    }

    shd-issue-card {

    }
}




