
.rent-container {
    height:100%;
    flex:1 1 100%;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content: stretch;

    .rent-header {
        flex: 1 9 auto;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        padding:10px;
        .rent-title {
            display:flex;
            align-items:center;
            font-size:1.5rem;
            mat-icon {
                display:flex;
            }
        }
        .rent-amount {
            display:flex;
            align-items:center;
            font-size:1.5rem;
        }
    }

    .rent-content {
        flex: 9 1 100%;
        display:flex;
        flex-direction:row;
        align-items:stretch;
        justify-content: stretch;
        flex-wrap:wrap;

        highcharts-chart {
            min-width:130px;
            flex: 5 1 40%;
            display:flex;
            align-self:center;
            align-items:center;
            justify-content: stretch;
            flex-wrap:wrap;

        }

        table {
            flex: 1 5 60%;
            align-self:center;
            justify-self: center;
            justify-content: center;
            align-items:center;
        }
    }
}
