<mat-drawer-container class="container" [autosize]="true" class="example-container">

  <mat-drawer class="drawer" #drawer mode="over">

    <shd-drawer-menu></shd-drawer-menu>

  </mat-drawer>

  <mat-drawer-content>
    <mdc-top-app-bar #topBar [scrollTarget]="mainOutlet" [dense]="true" [fixedAdjustElement]="mainOutlet"
      (navigationSelected)="nav($event)">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="SHD">
          <button mdcTopAppBarNavIcon>
            <mdc-icon (click)="drawer.toggle()">menu</mdc-icon>
          </button>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <mdc-icon mdcTopAppBarActionItem><img style="border-radius: 50%;" src="{{ authService.user?.photoURL }}" />
          </mdc-icon>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>

      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section>
          <nav mat-tab-nav-bar [color]="'accent'" [backgroundColor]="'primary'" animationDuration="100"
            [backgroundColor]="'#1d567c'" [color]="'white'">

            <a mat-tab-link routerLink="chores" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
              Chores
            </a>
            <a mat-tab-link routerLink="utilities" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
              Utilities
            </a>
            <a mat-tab-link routerLink="open-issues" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
              Open Issues
            </a>
            <a mat-tab-link routerLink="notes" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
              Notes
            </a>
          </nav>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>

    </mdc-top-app-bar>

    <div id="main-outlet" #mainOutlet style="padding-top:96px">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>


<!-- <mat-tab label="Chores">
        <mat-toolbar>
          <span>Status</span>
        </mat-toolbar>
        <shd-chore-sorter></shd-chore-sorter>
        <button
          class="rotate-button"
          mat-stroked-button
          color="primary"
          (click)="chores.rotateChores(4)"
        >
          <i class="fas fa-sync"></i> Rotate Chores
        </button>
      </mat-tab>

      <mat-tab label="Open Issues">
        <shd-open-issues></shd-open-issues>
      </mat-tab>

      <mat-tab label="Utilities">
        <mat-toolbar>
          <span>Status</span>
        </mat-toolbar>
        <shd-utilities-sorter></shd-utilities-sorter>
        <mat-toolbar>
          <span>Edit Utilities</span>
        </mat-toolbar>
        <app-tile>
          <form-generator
            [firebasePath]="'utilities/breakdown/Garbage'"
            [listOrObj]="'obj'"
            [ignoreFields]="['icon', 'status']"
          ></form-generator>
        </app-tile>

        <app-tile>
          <form-generator
            [firebasePath]="'utilities/breakdown/Water'"
            [listOrObj]="'obj'"
            [ignoreFields]="['icon', 'status']"
          ></form-generator>
        </app-tile>

        <app-tile>
          <form-generator
            [firebasePath]="'utilities/breakdown/Sewer'"
            [listOrObj]="'obj'"
            [ignoreFields]="['icon', 'status']"
          ></form-generator>
        </app-tile>

        <app-tile>
          <form-generator
            [firebasePath]="'utilities/breakdown/Internet'"
            [listOrObj]="'obj'"
            [ignoreFields]="['icon', 'status']"
          ></form-generator>
        </app-tile>

        <app-tile>
          <form-generator
            [firebasePath]="'utilities/breakdown/Electricity'"
            [listOrObj]="'obj'"
            [ignoreFields]="['icon', 'status']"
          ></form-generator>
        </app-tile>
      </mat-tab>

      <mat-tab label="Notes">
        <shd-notes></shd-notes>
      </mat-tab> -->