:host {
  height:100%;
  width:100%;
  max-height: 100vh;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  .container {
    box-sizing: border-box;
    font-family: monospace;
    height: 100%;
    // overflow: hidden;
    width: 100%;
    overflow: hidden;
    background: url("../../../assets/bg4.jpg");
    background-size: repeat;
    display: grid;
    // grid-gap: 5px;
    // grid-auto-columns: 200px;
    grid-template-areas:
      "header header header header header"
      "utilities utilities utilities utilities utilities"
      "openIssues openIssues notes notes notes"
      "openIssues openIssues notes notes notes"
      "chores chores chores chores chores";
    grid-template-rows: 105px 12% 30% 30% 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;

    #header {
      grid-area: header;
      display: flex;
      box-sizing: border-box;

      #header-card-1 {
        flex: 1 1 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #time {
          font-size: 38px;
          font-family: monospace;
          color: white;
        }
        #date {
          font-size: 32px;
          font-family: monospace;
          color: white;
        }
      }

      #header-card-2 {
        flex: 0 0 65%;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: stretch;
        .weatherwidget-io {
          width: 100%;
        }
      }
    }

    // .body {

    #utilities {
      grid-area: utilities;
    }
    #chores {
      grid-area: chores;
    }
    #notes {
      grid-area: notes;
    }

    #open-issues {
      grid-area: openIssues;
    }
    #supplies {
      grid-area: supplies;
    }

    #widgets {
      grid-area: widgets;
    }
  }
}

.big-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  height: 100%;
  width: 100%;

  .modal-content {
    position: relative;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
  }
}
