
.example-boundary {
  display:flex;
  background: rgba(0,0,0,0.1);
  // margin:3px;
  border-radius:40px;
  max-width:400px;
  min-width:150px;
  align-self:center;
  align-items:stretch;
  justify-items: stretch;
  height:50px;
  .start-point {
    flex: 0 0 50px;
    display:flex;
    left:0;
    top:0;
    height:50px;
  }

  .middle-point {
    display:flex;
    flex:1 1 100%;
    align-items:center;
    justify-content: center;
  }

  .end-point {
    flex: 0 0 50px;
    display:flex;
    height:50px;
    align-self: flex-end;
      // background: rgba(0,0,0,0.15);
       border-radius:40px;
  }
}

.example-box {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
      transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  // display:none;
}

.cdk-drag-preview {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
