<app-tile>
    <form-generator
      #fG
      [firebasePath]="'utilities/breakdown/Garbage'"
      [listOrObj]="'obj'"
      [ignoreFields]="['icon', 'status']"
    ></form-generator>
  </app-tile>
  
  <app-tile>
    <form-generator
      #fG
      [firebasePath]="'utilities/breakdown/Water'"
      [listOrObj]="'obj'"
      [ignoreFields]="['icon', 'status']"
    ></form-generator>
  </app-tile>
  
  <app-tile>
    <form-generator
      #fG
      [firebasePath]="'utilities/breakdown/Sewer'"
      [listOrObj]="'obj'"
      [ignoreFields]="['icon', 'status']"
    ></form-generator>
  </app-tile>
  
  <app-tile>
    <form-generator
      #fG
      [firebasePath]="'utilities/breakdown/Internet'"
      [listOrObj]="'obj'"
      [ignoreFields]="['icon', 'status']"
    ></form-generator>
  </app-tile>
  
  <app-tile>
    <form-generator
      #fG
      [firebasePath]="'utilities/breakdown/Electricity'"
      [listOrObj]="'obj'"
      [ignoreFields]="['icon', 'status']"
    ></form-generator>
  </app-tile>