<!-- <mdc-linear-progress *ngIf="uploadProgressAsync" determinate [progress]="uploadProgressAsync | async" secondary>
</mdc-linear-progress> -->
<ng-container *ngIf="(uploadProgressAsync | async) as uploadProg">
    <mat-progress-spinner *ngIf="uploadProg < 100"
        [diameter]="75"
        [color]="'green'"
        [mode]="'determinate'"
        [value]="uploadProg">
    </mat-progress-spinner>
</ng-container>
<br>
<input #img
    (change)="uploadFile($event)"
    type="file"
    accept="image/*"
    capture="environment">
<br>
<img *ngIf="downloadURL"
    [src]="downloadURL"
    style="max-height:200px;max-width:200px;">