.good {
  color:green;
  // box-shadow: 0 3px 6px rgba(0, 254, 0, 0.16), 0 3px 6px rgba(0, 254, 0, 0.23)!important;
  // text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em green;
}

.warning {
  color:orange;
  // border: 2px solid yellow;
  // box-shadow: 0 3px 6px rgba(254, 0, 0, 0.16), 0 3px 6px rgba(254, 0, 0, 0.23)!important;
  // text-shadow: 1px 1px 2px yellow, 0 0 1em yellow, 0 0 0.2em yellow;
}

.critical {
  color:red;
  // border: 2px solid red;
  // box-shadow: 0 3px 6px rgba(254, 0, 0, 0.16), 0 3px 6px rgba(254, 0, 0, 0.23) !important;
  // text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}

.critical-item {

}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  background: white;
  font-size: 14px;
  width:88px;
  margin:5px;
  height:75px;
  border-radius:4px;
  cursor: move;
  // border-bottom:1px solid black;
  &:last-child {
    border: none;
  }


  .icon {
    font-size:42px;
  }

  .text {
    font-size:14px;
  }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

shd-chore-sorter:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .chore-sorter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height:350px;

    .list-container {
      display: flex;
      justify-content: center;
      flex: 1 1 33%;

      .list {
        flex: 0 0 100px;
        display: flex;
        flex-flow: column nowrap;
        background: white;
        border-radius: 4px;
        margin:2px;
        &.cdk-drop-list-dragging .draggable-item:not(.cdk-drag-placeholder) {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
      }

      .good-list {
        border: 2px solid green;
        box-shadow: 0 3px 6px rgba(0, 254, 0, 0.16), 0 3px 6px rgba(0, 254, 0, 0.23) !important;
        // box-shadow: 0 3px 6px rgba(254, 0, 0, 0.16), 0 3px 6px rgba(254, 0, 0, 0.23) !important;
      }

      .warning-list {
        border: 2px solid orange;
        // box-shadow: 0 3px 6px rgba(254, 0, 0, 0.16), 0 3px 6px rgba(254, 0, 0, 0.23) !important;
      }

      .critical-list {
        border: 2px solid red;
        // box-shadow: 0 3px 6px rgba(254, 0, 0, 0.16), 0 3px 6px rgba(254, 0, 0, 0.23) !important;
      }

      .draggable-item, .cdk-drag-preview, .cdk-drag-placeholder {
        // transition: all 1s;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: content-box;
        background: white;
        font-size: 14px;
        width:88px;
        margin:5px;
        height:75px;
        border-radius:4px;
        cursor: move;
        // border-bottom:1px solid black;
        &:last-child {
          border: none;
        }


        .icon {
          font-size:42px;
        }

        .text {
          font-size:14px;
        }
      }
    }
  }
}
