<div class="chore-sorter-container"
  cdkDropListGroup>
  <div class="list-container">
    <div #good="cdkDropList"
      class="good-list list"
      cdkDropList
      [cdkDropListData]="goodAsync | async"
      [cdkDropListConnectedTo]="[critical,warning]"
      [cdkDropListData]=""
      (cdkDropListDropped)="drop($event, ChoreStatus.good)">

      <div cdkDrag
        class="draggable-item {{item.status}}"
        *ngFor="let item of good.data"
        [cdkDragData]="{previousStatus: ChoreStatus.good, previousList: good.data, details: item}">
        <div class="icon">
          <i class="fas fa-{{ item?.icon }}"></i>
        </div>
        <!-- <div class="text"> -->
        <!-- {{item.text}} -->
        <!-- </div> -->
        <div class="text">
          {{item.person}}
        </div>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div #warning="cdkDropList"
      [cdkDropListData]="warningAsync | async"
      [cdkDropListConnectedTo]="[good,critical]"
      cdkDropList
      [cdkDropListData]=""
      class="warning-list list"
      (cdkDropListSorted)="sorting($event)"
      (cdkDropListDropped)="drop($event, ChoreStatus.warning)">
      <div class="draggable-item {{item.status}}"
        *ngFor="let item of warning.data"
        [cdkDragData]="{previousStatus: ChoreStatus.warning, previousList: warning.data, details: item}"
        cdkDrag>
        <div class="icon">
          <i class="fas fa-{{ item?.icon }}"></i>
        </div>
        <!-- <div class="text"> -->
        <!-- {{item.text}} -->
        <!-- </div> -->
        <div class="text">
          {{item.person}}
        </div>
      </div>
    </div>
  </div>
  <div class="list-container">
    <div #critical="cdkDropList"
      [cdkDropListData]="criticalAsync | async"
      [cdkDropListConnectedTo]="[good,warning]"
      cdkDropList
      [cdkDropListData]=""
      class="critical-list list"
      (cdkDropListDropped)="drop($event, ChoreStatus.critical)">
      <div class="draggable-item {{item.status}}"
        *ngFor="let item of critical.data"
        [cdkDragData]="{previousStatus: ChoreStatus.critical, previousList: critical.data, details: item}"
        cdkDrag>
        <div class="icon">
          <i class="fas fa-{{ item?.icon }}"></i>
        </div>
        <!-- <div class="text"> -->
        <!-- {{item.text}} -->
        <!-- </div> -->
        <div class="text">
          {{item.person}}
        </div>
      </div>
    </div>
  </div>
</div>