app-utilities:host {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-evenly;
  font-family: monospace;
  #chore-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: stretch;
    justify-content: baseline;
    font-family: monospace;

    .chore {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      // color:white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background-color: rgba(255, 255, 255, 0.5);
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      flex: 1 1 20%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      .who {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
      }

      .icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8vmin;
      }

      .text {
        font-size: 2rem;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .sub-text {
        font-size: 1rem;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    .chore-cost-right { //cost-right
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      // color:white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background-color: rgba(255,255,255,0.5);
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      flex: 1 1 20%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-around;

      .icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        flex: 1 5 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vmin;
      }

      .text-container {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        flex: 5 1 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        .super-text {
          font-size: 1vmin;
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        .text {
          font-size: 3vmin;
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        
        .sub-text {
          font-size: 1vmin;
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

.rotate-button {
  display: flex;
  align-items: Center;
  justify-content: center;
  align-self: center;
  margin: 10px;
}
