<ng-container *ngIf="!updating">
  <div id="chore-container">
    <ng-container *ngIf="!showCostRight">
      <div
        class="chore animated flip faster {{utility.status}}"
        *ngFor="let utility of utilities | async; index as i"
        (click)="utilitiesService.updateStatus(utility, 'utilities/breakdown')"
      >
        <div class="who" [@fade] *ngIf="!iconsOnly">
          {{ utility.amount_due | currency }}
        </div>
        <div class="icon {{utility.status}}">
          <i [@fade] class="fas fa-{{ utility.icon }}" title="Edit"></i>
        </div>
        <div class="text" [@fade] *ngIf="!iconsOnly">
          {{ utility.key }}
        </div>
        <div class="sub-text" [@fade] *ngIf="!iconsOnly">
          Paid by: {{ utility.paid_by }}<br />
          for: {{ utility.period }}
        </div>
        <div class="cost-right" [@fade] *ngIf="iconsOnly && showCostRight">
          {{ utility.amount_due | currency }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showCostRight">
      <div
        class="chore-cost-right animated flip faster {{utility.status}}"
        *ngFor="let utility of utilities | async; index as i"
        (click)="utilitiesService.updateStatus(utility, 'utilities/breakdown')"
      >
        <div class="icon {[utility.status}}">
          <i [@fade] class="fas fa-{{ utility.icon }}" title="Edit"></i>
        </div>
        <div class="text-container">
          <div class="super-text" [@fade]>
            {{ utility.period }}
          </div>
          <div class="text" [@fade] *ngIf="iconsOnly && showCostRight">
            {{ utility.amount_due | currency }}
          </div>
          <div class="sub-text" [@fade]>
            Paid by: {{ utility.paid_by }}<br />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<div class="update-form" *ngIf="updating">
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown'"
    [listOrObj]="1"
  ></form-generator>
</div>
