.utilities-container {
    min-width:800px;
    min-height:400px;
    height:100%;
    flex:1 1 100%;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content: stretch;

    .utilities-header {
        flex: 1 9 auto;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        padding:10px;
        .utilities-title {
            display:flex;
            align-items:center;
            font-size:1.5rem;
            mat-icon {
                display:flex;
            }
        }
        .utilities-amount {
            display:flex;
            align-items:center;
            font-size:1.5rem;
        }
    }

    .utilities-content {
        flex: 9 1 100%;
        display:flex;
        flex-direction:row;
        align-items:stretch;
        justify-content: stretch;

        highcharts-chart {
            flex: 0 1 40%;
            display:flex;
            align-self:center;
            align-items:center;
            justify-content: stretch;

        }

        table {
            flex: 1 1 40%;
            align-self:center;
            justify-self: center;
            justify-content: center;
            align-items:center;
        }
    }
}
