@import '../../../themes/core-theme.scss';

:host {
    flex:1 1 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    font-size:5rem;

    .section {
        flex: 1 1 33%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        margin:10px;

        &.new {
            color: $mdc-theme-primary;
        }

        &.almost {
            color: $theme-warning;
        }

        &.past {
            color: $theme-danger;
        }

        .count {
            font-size:3rem;
        }

        .text {
            font-size:1.5rem;
        }
    }
}