<ng-container *ngIf="!updating">
  <div id="chore-container" *ngIf="choreBreakdown | async as chores">
    <div class="chore" *ngFor="let person of people | async; index as i;">
      <div class="who" [@fade]>
        {{person}}
      </div>
      <div class="icon" [ngStyle]="{'color': chores[(i + rI) % 4].needs_attention ? 'darkred' : 'darkgreen'}">
        <i [@fadeHorizontal]="rI" class="fas fa-{{chores[(i + rI) % 4].icon}} fa-8x" title="Edit"></i>
      </div>
      <div class="text" [@fade]>
        {{ chores[(i + rI) % 4].text }}
      </div>
    </div>
  </div>
</ng-container>
<button *ngIf="updating" class="rotate-button" mat-mini-fab color="primary" (click)="rotateChores()"><i class="fas fa-sync"></i></button>
<form-generator *ngIf="updating" #fG [firebasePath]="'chores/breakdown'" [listOrObj]="1"></form-generator>
