
app-status-widget:host {
    width:100%;
    display:flex;
    align-items:stretch;
    justify-content: flex-start;
    flex-direction:column;
    // padding:5px;
    h1 {
        display:flex;
        align-self:center;
        color:white;
    }
    .button-list {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
        flex-wrap:wrap;
        align-content:space-evenly;
        .button-container {
            margin:auto;
            align-self:center;
            flex: 0 0 auto;
            display:flex;
            align-items:stretch;
            justify-content: stretch;
            font-size:30px;
            margin:15px;
            button {
                font-size:24px;
                width:75px;
                height:75px;
            }
        }
    }
}