<mat-card [@fade] class="tile-container" *ngIf="!noContainer" [ngClass]="{'disabled':disabled}" [ngStyle]="{flex: noFlow ? '0 0 auto' : '1 1 auto'}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  <div class="disabled-overlay" *ngIf="disabled"></div>
</mat-card>
<!-- noContainer set to true -->
<div [@fade] class="tile-container" *ngIf="noContainer" [ngClass]="{'disabled':disabled}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
    <div class="disabled-overlay" *ngIf="disabled"></div>
</div>


<ng-template #content><ng-content></ng-content></ng-template>