<mat-tab-group
  mat-stretch-tabs
  [selectedIndex]="activeTab"
  [backgroundColor]="'#1d567c'"
  [color]="'white'"
  [dynamicHeight]="false"
  [headerPosition]="'below'"
>
  <mat-tab label="Home">
    <router-outlet name="home"></router-outlet>
  </mat-tab>

  <!-- <mat-tab label="Chores">
    <app-chores></app-chores>
  </mat-tab> -->
<!-- 
  <mat-tab label="Supplies">
    <app-supplies></app-supplies>
  </mat-tab> -->

  <mat-tab label="Open Issues">
      <router-outlet name="openIssues"></router-outlet>
  </mat-tab>


  <mat-tab label="Utilities">
    <router-outlet name="utilities"></router-outlet>
  </mat-tab>

  <!-- <mat-tab label="Notes">
    <app-notes></app-notes>
  </mat-tab> -->

  <!-- <mat-tab label="Location">
    <app-location-tracker></app-location-tracker>
  </mat-tab> -->

</mat-tab-group>
