.container {
  font-family:monospace;
  height: 100%;
  overflow: hidden;
  max-height: -webkit-fill-available;
  width: 100%;
  background: #292929;
  display: grid;
  grid-template-areas:
    "a"
    "b";
  grid-template-rows: 114px auto;
  grid-template-columns: 1fr;
    // align-items:flex-start;
    // align-content:flex-start;
    // justify-content: flex-start;
    // justify-items: flex-start;
  // justify-content: center;
  // align-items:center;

  #header {
    grid-area: a;
    display: flex;
    box-sizing: border-box;

    #header-card-1 {
      flex: 1 1 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #time {
        font-size: 48px;
        font-family: monospace;
        color: white;
      }
      #date {
        font-size: 32px;
        font-family: monospace;
        color: white;
      }
    }

    #header-card-2 {
      flex: 0 0 75%;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: stretch;
      .weatherwidget-io {
        width: 100%;
      }
    }
  }

  #middle {
    grid-area:b;
    display: inline-grid;
    grid-template-areas:
      "c c c c c c d d d d"
      "e e e e f f f f f f"
      "g g h h i i j j k k";
    grid-template-rows: 45% 45% 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;


    .lg-tile-1 {
      grid-area: c;
    }

    .lg-tile-2 {
      grid-area: f;
    }

    .md-tile-1 {
      grid-area: d;
    }

    .md-tile-2 {
      grid-area: e;
    }

    .sm-tile-1 {
      grid-area: g;
    }

    .sm-tile-2 {
      grid-area: h;
    }

    .sm-tile-3 {
      grid-area: i;
    }

    .sm-tile-4 {
      grid-area: j;
    }

    .sm-tile-5 {
      grid-area: k;
    }
    .tile {
      display:flex;
      align-items:stretch;
      justify-content: stretch;
      // background:white;
      // outline:solid 1px black;
      padding:5px;
      overflow:hidden;
      max-height:100%;

      & > * {
        flex: 1 1 auto;
      }
    }
  }

  #footer {
    // box-sizing: border-box;
    // grid-area: e;
    // display: flex;
  }
}

@media only screen and (max-width: 1000px) {
  #header-card-2 {
    display: none !important;
  }
}

// .large-card {
//   flex: 1 1 45%;
//   display: flex;
// }

// .medium-card {
//   flex: 1 1 20%;
//   display: flex;
// }

// .small-card {
//   flex: 1 1 33%;
//   display: flex;
// }








//===========================================================================================
// .container {
//   box-sizing: border-box;
//   max-height: 100%;
//   overflow: auto;
//   height: 100%;
//   width: 100%;
//   background: #1d567c;
//   display: grid;
//   grid-template-areas:
//     "a a a a"
//     "b b b b"
//     "b b b b";
//   grid-template-rows: 114px 70% 20%;
//   grid-template-columns: 25% 25% 25% 25%;
//   //   align-items:flex-start;
//   //   align-content:flex-start;
//   //   justify-content: flex-start;
//   //   justify-items: flex-start;

//   #header {
//     grid-area: a;
//     display: flex;
//     box-sizing: border-box;

//     #header-card-1 {
//       flex: 1 1 25%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       #time {
//         font-size: 30px;
//         font-family: monospace;
//         color: white;
//       }
//       #date {
//         font-size: 18px;
//         font-family: monospace;
//         color: white;
//       }
//     }

//     #header-card-2 {
//       flex: 0 0 75%;
//       display: flex;
//       flex-direction: row;
//       align-content: stretch;
//       justify-content: stretch;
//       .weatherwidget-io {
//         width: 100%;
//       }
//     }
//   }

//   #middle {
//     box-sizing: border-box;
//     max-height: calc(0.7 * 100vh);
//     grid-area: b;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: stretch;
//     flex-wrap: wrap;
//     justify-items: flex-start;
//     align-content: stretch;

//     & > * {
//       margin: 5px;
//       flex: 1 1 auto;
//       display: flex;
//       justify-content: stretch;
//       align-items: stretch;
//       flex-wrap: wrap;
//     }
//   }

//   #footer {
//     // box-sizing: border-box;
//     // grid-area: e;
//     // display: flex;
//   }
//   .dashboard-card {
//   }
// }

// @media only screen and (max-width: 1000px) {
//   #header-card-2 {
//     display: none!important;
//   }
// }

// .large-card {
//   flex: 1 1 45%;
//   display:flex;

// }

// .medium-card {
//   flex: 1 1 20%;
//   display:flex;
// }

// .small-card {
//   flex: 1 1 33%;
//   display:flex;
// }
