:host {
  box-sizing:border-box;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  .edit-button {
    align-self:flex-end;
    margin:16px;
  }

  .notes-container {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    mat-card {
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: black;
      // color:white;
      &.show-delete {
        // padding:0;
        // border-left:none;
      }
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background-color:rgba(255, 255, 255, 0.3);
      flex: 0 0 auto;
      margin:10px;
      word-wrap: break-word;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-size: 3vmin;
      border-left: 5px solid lightgreen;
      align-items:flex-start;
      justify-content: flex-start;
      span {
        max-width:75%;
      }
      .btns {
        flex: 1 1 100%;
        width:100%;
        height:100%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items:center;
        .delete-button {
        }
        .cancel-button {
          
        }
      }

      .timestamp {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        justify-self: flex-end;
        font-size: 2vmin;
      }
    }
  }
  .notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding:3px;
    mat-form-field {
      width:90%;
    }
  }
}


.update-button {
  width: 25%;
  align-self:flex-end;
  display:flex;
  align-items: center;
  justify-content: center;
}