<mat-sidenav-container>
    <mat-sidenav [ngStyle]="{'width': sideNavWidth}" #sideNav mode="push">Start</mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section>
        <gridster [options]="options">
            <!-- <gridster-item [item]="item" *ngFor="let item of dashboard">
                <div class="button-holder">
                    <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </gridster-item> -->
            <gridster-item [item]="{cols: 24, rows: 5, y: 0, x: 12}">
                <a style="height:100%" class="weatherwidget-io" href="https://forecast7.com/en/47d62n122d04/sammamish/?unit=us" data-label_1="SAMMAMISH" data-label_2="WEATHER" data-font="Ubuntu" data-icons="Climacons Animated" data-theme="dark" >SAMMAMISH WEATHER</a>
            </gridster-item>
        </gridster>
        <mat-toolbar color="primary">
        </mat-toolbar>
    </section>
</mat-sidenav-container>