<!-- <button mat-mini-fab class="toggle-menu" color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
</button> -->

<div class="invis-hover-div" [ngStyle]="{'width': sideNavWidth}" (mouseover)="sideNav.open();sideNavWidth = '500px'"
    (mouseout)="sideNav.close(); sideNavWidth = '25px'"></div>
<mat-sidenav-container>
    <mat-sidenav [ngStyle]="{'width': sideNavWidth}" #sideNav mode="push">Start</mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section style="height:100vh;">
        <gridster [options]="options">
            <gridster-item [item]="item" *ngFor="let item of dashboard">
                <div class="button-holder">
                    <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </gridster-item>
        </gridster>
    </section>
</mat-sidenav-container>