.container {
  font-family:monospace;
  height: 100%;
  overflow: hidden;
  max-height: -webkit-fill-available;
  width: 100%;
  background: #292929;
  display: grid;
  grid-template-areas:
    "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12",
    "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b12",
    "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12",
    "d1 d2 d3 d4 d5 d6 d7 d8 d9 d10 d11 d12",
    "e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 e12";
  grid-template-rows: 114px auto;
  grid-template-columns: 1fr;
    // align-items:flex-start;
    // align-content:flex-start;
    // justify-content: flex-start;
    // justify-items: flex-start;
  // justify-content: center;
  // align-items:center;

  #header {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 12;
    display: flex;
    box-sizing: border-box;

    #header-card-1 {
      flex: 1 1 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #time {
        font-size: 38px;
        font-family: monospace;
        color: white;
      }
      #date {
        font-size: 32px;
        font-family: monospace;
        color: white;
      }
    }

    #header-card-2 {
      flex: 0 0 65%;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: stretch;
      .weatherwidget-io {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #header-card-2 {
    display: none !important;
  }
}

// .large-card {
//   flex: 1 1 45%;
//   display: flex;
// }

// .medium-card {
//   flex: 1 1 20%;
//   display: flex;
// }

// .small-card {
//   flex: 1 1 33%;
//   display: flex;
// }








//===========================================================================================
// .container {
//   box-sizing: border-box;
//   max-height: 100%;
//   overflow: auto;
//   height: 100%;
//   width: 100%;
//   background: #1d567c;
//   display: grid;
//   grid-template-areas:
//     "a a a a"
//     "b b b b"
//     "b b b b";
//   grid-template-rows: 114px 70% 20%;
//   grid-template-columns: 25% 25% 25% 25%;
//   //   align-items:flex-start;
//   //   align-content:flex-start;
//   //   justify-content: flex-start;
//   //   justify-items: flex-start;

//   #header {
//     grid-area: a;
//     display: flex;
//     box-sizing: border-box;

//     #header-card-1 {
//       flex: 1 1 25%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       #time {
//         font-size: 30px;
//         font-family: monospace;
//         color: white;
//       }
//       #date {
//         font-size: 18px;
//         font-family: monospace;
//         color: white;
//       }
//     }

//     #header-card-2 {
//       flex: 0 0 75%;
//       display: flex;
//       flex-direction: row;
//       align-content: stretch;
//       justify-content: stretch;
//       .weatherwidget-io {
//         width: 100%;
//       }
//     }
//   }

//   #middle {
//     box-sizing: border-box;
//     max-height: calc(0.7 * 100vh);
//     grid-area: b;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: stretch;
//     flex-wrap: wrap;
//     justify-items: flex-start;
//     align-content: stretch;

//     & > * {
//       margin: 5px;
//       flex: 1 1 auto;
//       display: flex;
//       justify-content: stretch;
//       align-items: stretch;
//       flex-wrap: wrap;
//     }
//   }

//   #footer {
//     // box-sizing: border-box;
//     // grid-area: e;
//     // display: flex;
//   }
//   .dashboard-card {
//   }
// }

// @media only screen and (max-width: 1000px) {
//   #header-card-2 {
//     display: none!important;
//   }
// }

// .large-card {
//   flex: 1 1 45%;
//   display:flex;

// }

// .medium-card {
//   flex: 1 1 20%;
//   display:flex;
// }

// .small-card {
//   flex: 1 1 33%;
//   display:flex;
// }
