.container {
  box-sizing:border-box;
  font-family: monospace;
  height: 100%;
  // overflow: hidden;
  width: 100%;
  overflow:hidden;
  background: #292929;
  display: grid;
  // grid-gap: 5px;
  // grid-auto-columns: 200px;
  grid-template-areas: 
  "a"
  "b";
  grid-template-rows: 95px calc(100% - 95px);
  grid-template-columns: auto;
  align-items:stretch;
  align-content:stretch;
  justify-content: stretch;
  justify-items: stretch;
  justify-content: stretch;
  align-items:stretch;

  #header {
    grid-area:a;
    display: flex;
    box-sizing: border-box;

    #header-card-1 {
      flex: 1 1 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #time {
        font-size: 38px;
        font-family: monospace;
        color: white;
      }
      #date {
        font-size: 32px;
        font-family: monospace;
        color: white;
      }
    }

    #header-card-2 {
      flex: 0 0 65%;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: stretch;
      .weatherwidget-io {
        width: 100%;
      }
    }
  }
  .body {
    grid-area:b;
    font-family: monospace;
    width: 100%;
    // height: 
    max-height:fill-available;
    // overflow:none;
    box-sizing: border-box;
    // margin:-5px;
    display:flex;
    flex-direction:column;
    // align-items:stretch;
    // justify-content:space-evenly;
    flex-wrap:wrap;
    // padding:5px;

    // overflow: hidden;
    // background: #292929;
    // display: grid;
    // grid-gap: 1%;
    // align-items:center;
    // justify-content:center;
    // justify-items:center;
    // align-content:center;
    // grid-template-rows: repeat(12, 1fr);
    // grid-template-columns: repeat(12, 1fr);
    // grid-auto-columns: minmax(10%,75%);
    // grid-auto-rows: minmax(10%,50%);
    // grid-auto-flow: column dense;


    app-tile {
      margin:5px;
    }




    // $grid-rows: 12;
    // $grid-columns: 12;
    // $item: 1;
    // @for $i from 1 through $grid-rows {
    //   @for $j from 1 through $grid-columns {
    //     .body:nth-child(#{$i}) {
    //       grid-column: $i / $j;
    //       grid-row: $i / $j;
    //       $item: $item + 1;
    //     }
    //   }
    // }




        // display: flex;
    // box-sizing: border-box;
    // align-items:stretch;
    // justify-content: stretch;
    // flex-direction:row;
    // flex-wrap:wrap-reverse;
  }
}

@media only screen and (max-width: 1000px) {
  .status-widgets {
    overflow-y:auto;
    flex-wrap:nowrap;
    grid-area:b;
    font-family: monospace;
    width: 100%;
    height: calc(100% - 100px);
    box-sizing: border-box;
    // margin:-5px;
    display:flex;
    flex-direction:column;
  }
  #header {
    display: none !important;
  }
}

//===========================================================================================
// .container {
//   box-sizing: border-box;
//   max-height: 100%;
//   overflow: auto;
//   height: 100%;
//   width: 100%;
//   background: #1d567c;
//   display: grid;
//   grid-template-areas:
//     "a a a a"
//     "b b b b"
//     "b b b b";
//   grid-template-rows: 114px 70% 20%;
//   grid-template-columns: 25% 25% 25% 25%;
//   //   align-items:flex-start;
//   //   align-content:flex-start;
//   //   justify-content: flex-start;
//   //   justify-items: flex-start;

//   #header {
//     grid-area: a;
//     display: flex;
//     box-sizing: border-box;

//     #header-card-1 {
//       flex: 1 1 25%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       #time {
//         font-size: 30px;
//         font-family: monospace;
//         color: white;
//       }
//       #date {
//         font-size: 18px;
//         font-family: monospace;
//         color: white;
//       }
//     }

//     #header-card-2 {
//       flex: 0 0 75%;
//       display: flex;
//       flex-direction: row;
//       align-content: stretch;
//       justify-content: stretch;
//       .weatherwidget-io {
//         width: 100%;
//       }
//     }
//   }

//   #middle {
//     box-sizing: border-box;
//     max-height: calc(0.7 * 100vh);
//     grid-area: b;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: stretch;
//     flex-wrap: wrap;
//     justify-items: flex-start;
//     align-content: stretch;

//     & > * {
//       margin: 5px;
//       flex: 1 1 auto;
//       display: flex;
//       justify-content: stretch;
//       align-items: stretch;
//       flex-wrap: wrap;
//     }
//   }

//   #footer {
//     // box-sizing: border-box;
//     // grid-area: e;
//     // display: flex;
//   }
//   .dashboard-card {
//   }
// }

// @media only screen and (max-width: 1000px) {
//   #header-card-2 {
//     display: none!important;
//   }
// }

// .large-card {
//   flex: 1 1 45%;
//   display:flex;

// }

// .medium-card {
//   flex: 1 1 20%;
//   display:flex;
// }

// .small-card {
//   flex: 1 1 33%;
//   display:flex;
// }
