<div class="container">
  <div id="header">
    <div id="header-card-1">
      <div id="time">
        {{date + (timeObs | async) * 1000 | date:'mediumTime'}}
      </div>
      <div id="date">
        {{date + (timeObs | async) * 1000 | date:'fullDate'}}
      </div>
    </div>

    <div id="header-card-2">
      <a class="weatherwidget-io" href="https://forecast7.com/en/47d67n122d12/redmond/?unit=us" data-label_1="REDMOND"
        data-label_2="WEATHER" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="dark">REDMOND
        WEATHER</a>

    </div>
  </div>

  <app-tile class="dashboard-card">
    <app-utilities2></app-utilities2>
  </app-tile>

  <app-tile class="dashboard-card">
    <app-supplies></app-supplies>
  </app-tile>

  <app-tile class="dashboard-card large-card lg-tile-2">
    <app-chores (loadingComplete)="loadingComplete()"></app-chores>
  </app-tile>

  <app-tile class="dashboard-card">
    <app-notes></app-notes>
  </app-tile>

  <app-tile>
    <gate-code-widget></gate-code-widget>
  </app-tile>

  <app-tile>
    <wifi-widget></wifi-widget>
  </app-tile>
</div>
