<div id="chore-container" *ngIf="choreStream">
  <ng-container *ngFor="let chore of choreStream | async | orderBy: 'person'; index as i">
    <ng-container *ngIf="!showCritical || (showCritical && chore?.isCritical)">
      <div class="chore animated fadeInRight faster {{chore?.status}}" [ngClass]="{
                'critical pulse': chore?.status == ChoreStatus.critical,
                warning: chore?.status == ChoreStatus.danger,
                good: chore?.status == ChoreStatus.good
              }">
        <div class="who {{chore?.status}}" [@fade] *ngIf="!iconsOnly">
          <span *ngIf="!showCritical">
            {{ chore?.person }}
          </span>
          <span *ngIf="showCritical">
            {{ chore?.criticalPerson }}
          </span>
        </div>
        <div class="icon {{chore?.status}}">
          <i [@fadeHorizontal]="rI" class="fas fa-{{ chore?.icon }} fa-8x" [ngClass]="{
                    'animated pulse infinite': chore?.status == ChoreStatus.critical
                  }" title="Edit"></i>
        </div>
        <div class="text" [@fade] *ngIf="!iconsOnly">
          {{ chore?.text }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
