<div id="chore-container" *ngIf="chorePersonMap$">
  <ng-container *ngFor="let chorePerson of chorePersonMap$ | async | orderBy: 'person'; index as i">
    <ng-container *ngIf="!showCritical || (showCritical && chorePerson?.isCritical)">
      <div class="chore animated fadeInRight faster {{chorePerson?.status}}" [ngClass]="{
                'critical pulse': chorePerson?.status == ChoreStatus.critical,
                warning: chorePerson?.status == ChoreStatus.danger,
                good: chorePerson?.status == ChoreStatus.good
              }">
        <div class="who {{chorePerson?.chore.status}}" [@fade] *ngIf="!iconsOnly">
          <span *ngIf="!showCritical">
            {{ chorePerson?.person?.name }}
          </span>
        </div>
        <div class="icon {{chorePerson?.chore?.status}}">
          <i [@fadeHorizontal]="rI" class="fas fa-{{ chorePerson?.chore?.icon }} fa-8x" [ngClass]="{
                    'animated pulse infinite': chorePerson?.chore?.status == ChoreStatus.critical
                  }" title="Edit"></i>
        </div>
        <div class="text {{chorePerson?.chore?.status}}" [@fade] *ngIf="!iconsOnly">
          {{ chorePerson?.chore?.text }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>