/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import "~@angular-mdc/theme/material";

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

text.highcharts-credits {
  color: white !important;
  fill: white !important;
}
.mat-tab-body-wrapper,
.mat-tab-body {
  height: 100%;
  width: 100%;
}

mat-tab-group {
  height: 100vh;
  height: 100vh;
}
mat-tab-body,
mat-tab-group {
  height: 100%;
  width: 100%;
}
.mat-tab-body-content {
  // overflow:hidden!important;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.dialog {
  font-size: 14px;
}

.generic-text-area {
  min-height: 42px;
}

.full-width {
  width: 100%;
}
