/* You can add global styles to this file, and also import other style files */
// @use '@angular-mdc/theme/material';
// @use '@material/top-app-bar/mdc-top-app-bar';
// @use '@material/top-app-bar';
// @use '@material/icon-button/mdc-icon-button';
// styles.scss

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

html,
body {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-display: swap;
  position: fixed;
  top: 0;
  bottom: 0;
}

text.highcharts-credits {
  color: white !important;
  fill: white !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.dialog {
  font-size: 14px;
}

.generic-text-area {
  min-height: 42px;
}

.full-width {
  width: 100%;
}