<!-- <mat-toolbar>
  <span>Quick Actions</span>
</mat-toolbar> -->
<!-- <div class="chore-section">
  <button
    [disabled]="disableCycleButton"
    class="rotate-button"
    mat-fab
    color="primary"
    (click)="chores.rotateChores(4)"
    style="align-self:center;margin-right:10px;"
  >
    <i class="fas fa-sync"></i>
  </button>
  <app-chores [iconsOnly]="true"></app-chores>
</div>
<hr>
<app-utilities [iconsOnly]="true"></app-utilities> -->

<mat-toolbar>
  <span>Chores</span>
</mat-toolbar>
<div class="chore-section">
  <button
    class="rotate-button"
    mat-fab
    color="primary"
    (click)="chores.rotateChores(4)"
    style="align-self:center;margin-right:10px;"
  >
    <i class="fas fa-sync"></i>
  </button>
  <app-chores [iconsOnly]="true"></app-chores>
</div>

<mat-toolbar>
  <span>Notes</span>
</mat-toolbar>
<app-notes></app-notes>

<mat-toolbar>
  <mat-toolbar-row>
    <span>Utilities</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-utilities [iconsOnly]="true"></app-utilities>

<app-tile>
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown/Garbage'"
    [listOrObj]="'obj'"
    [ignoreFields]="['icon', 'status']"
  ></form-generator>
</app-tile>

<app-tile>
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown/Water'"
    [listOrObj]="'obj'"
    [ignoreFields]="['icon', 'status']"
  ></form-generator>
</app-tile>

<app-tile>
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown/Sewer'"
    [listOrObj]="'obj'"
    [ignoreFields]="['icon', 'status']"
  ></form-generator>
</app-tile>

<app-tile>
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown/Internet'"
    [listOrObj]="'obj'"
    [ignoreFields]="['icon', 'status']"
  ></form-generator>
</app-tile>

<app-tile>
  <form-generator
    #fG
    [firebasePath]="'utilities/breakdown/Electricity'"
    [listOrObj]="'obj'"
    [ignoreFields]="['icon', 'status']"
  ></form-generator>
</app-tile>
